@use "header" as *;
@use "hero" as *;
@use "./page2/post" as *;
@use "./page2/blocks2" as *;
@use "./page2/comment" as *;
@use "footer" as *;
* {
  box-sizing: border-box;
}
body {
  font-family: "Inconsolata", monospace;
  font-family: "Playfair Display", serif;
  font-family: "Ubuntu", sans-serif;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
